@import url("https://assembl.ch/import/css/fonts.css");

/*
COLORS

VIBRANT BLUE: #004CFF;
VIBRANT RED: #FC0233;
VIBRANT GREEN: #01A043;
VIBRANT YELLOW: #F2B409;

BACKGROUND BLUE: #193864;
BACKGROUND RED: #A00808;
BACKGROUND GREEN: #1C6419;
BACKGROUND YELLOW: #C99300;

*/

html {
    height: 100%;
    background-color: #FFDF71;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: #1A1A1A;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 21px;
    caret-color: #193864;
    cursor: default;
}

*:focus {
	outline: 0;
}

b, th {
    font-weight: 700;
}

a, a:visited {
	color: #193864;
	text-decoration: underline;
	cursor: pointer;
	transition: color 0.40s;
}

a:hover, a:focus, a:active {
    color: #FC0233;
    text-decoration: underline;
	transition: color 0.10s;
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    font-weight: 500;
}

p {
    margin: 12px 0px;
}

hr {
    margin: 77px 27px;
    border: none;
    height: 11px;
    background: #1A1A1A;
}

.bauhaus-header {
    display: block;
    background: #193864;
    color: #EDF4F4;
    width: 300%;
    height: 100px;
    padding: 152px 128px 43px 128px;
    position: absolute;
    top: -100px;
    left: -100%;
    transform-origin: bottom center;
    transform: rotate(-14deg);
    text-align: center;
    border-bottom: solid 11px #FAF0E6;
}

.bauhaus-header::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 90%;
    left: 0px;
    width: 100%;
    height: 1000%;
    background: inherit;
}

header {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    display: inline-block;
    position: relative;
    z-index: 2;
}

header h1 {
    font-size: 117px;
    text-transform: lowercase;
}

main {
    display: block;
    margin: 400px auto 64px auto;
    width: 90%;
    max-width: 800px;
    line-height: 1.3;
}

nav {
    margin-bottom: 72px;
}

footer {
    display: block;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    padding: 32px 16px;
    text-align: right;
    font-weight: 400;
}

footer a {
    display: inline-block;
    margin: 0px 8px;
    text-transform: lowercase;
}

.bauhaus-button {
    display: inline-block;
    background: #193864;
    color: #EDF4F4;
    padding: 12px 62px 12px 42px;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    line-height: 31px;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    margin: 4px 0px;
    position: relative;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #193864;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.25s;
}

.bauhaus-button.fixed-width {
    width: 414px;
    padding: 12px 62px 12px 18px;
}

.bauhaus-button.full-width {
    width: 100%;
    padding: 14px 62px 14px 18px;
}

.bauhaus-button .bauhaus-button-title {
    text-transform: uppercase;
    font-weight: 500;
    word-wrap: break-word;
    position: relative;
    z-index: 2;
}

.bauhaus-button .bauhaus-button-subtitle {
    text-transform: lowercase;
    font-weight: 300;
    position: relative;
    z-index: 2;
}

.bauhaus-button::before {
    display: block;
    width: 54px;
    background: url('../images/arrow_forward.png');
    background-size: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0.37;
    z-index: 3;
}

.bauhaus-button::after {
    display: block;
    content: '';
    width: 0%;
    height: 100%;
    background: #D30706;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: 0.40s;
    z-index: 1;
}

.bauhaus-button:hover::after, .bauhaus-button:focus::after {
    width: 100%;
    transition: 0.25s;
}

.bauhaus-button:focus {
    outline: 0;
}

.bauhaus-button:active {
    transition: 0s;
    transform: scale(0.99);
}

.bauhaus-button:active::after {
    transition: 0s;
    background: #AB0002;
}

::selection {
    background: #FC0233;
    color: #EDF4F4;
}

#bauhaus-anim-1 {
    position: absolute;
    left: -900px;
    top: -900px;
    display: block;
    width: 1000px;
    height: 1000px;
}

#bauhaus-anim-1 .bauhaus-anim-elem {
    display: block;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    opacity: 0;
}

#bauhaus-anim-1 .bauhaus-anim-elem:nth-child(1) {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border: solid transparent 32px;
    border-right: solid #FAF0E6 32px;
    animation: rotate 13s linear 0s infinite;
}

#bauhaus-anim-1 .bauhaus-anim-elem:nth-child(2) {
    width: 92%;
    height: 92%;
    top: 4%;
    left: 4%;
    border: solid transparent 27px;
    border-top: solid #FAF0E6 27px;
    border-bottom: solid #FAF0E6 27px;
    animation: rotate 12.1s linear 0s infinite;
}

#bauhaus-anim-1 .bauhaus-anim-elem:nth-child(3) {
    width: 82%;
    height: 82%;
    top: 9%;
    left: 9%;
    border: solid transparent 15px;
    border-top: solid #FAF0E6 15px;
    animation: rotate 14s linear 0s infinite;
}

#bauhaus-anim-1 .bauhaus-anim-elem:nth-child(4) {
    width: 74%;
    height: 74%;
    top: 13%;
    left: 13%;
    border: solid transparent 7px;
    border-top: solid #FAF0E6 7px;
    animation: rotate 12s linear 0s infinite;
}

#bauhaus-anim-1 .bauhaus-anim-elem:nth-child(5) {
    width: 64%;
    height: 64%;
    top: 17%;
    left: 17%;
    border: solid transparent 23px;
    border-left: solid #FAF0E6 23px;
    border-top: solid #FAF0E6 23px;
    animation: rotate 11s linear 0s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}